<!DOCTYPE html>
<html>
  <head>
    <title>{title} v{version}</title>
    <!-- needed for adaptive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--
    ReDoc doesn't change outer page styles
    -->
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <redoc></redoc>
    
    {if redocSrc}
    <script>{redocSrc}</script>
    {else}
    <script src="{redocUrl}"></script>
    {/if}

    <script>
        var specObject = {specObject};
        var specUrl = "{specUrl}";
        var redocOptions = {redocOptions};
        Redoc.init(specUrl || specObject, redocOptions);
    </script>
  </body>
</html>
